
body {
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.navbar {
    position: fixed; 
    background-color: black;
    width: 100%; 
    text-align: right;
  }


header {
    background-image: url('../img/perfil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
   
}

hr {
    color: white;
    padding: 3px;
    width: 6rem;
}

.about {
  margin-top: 120px;
}

.formacion {
  background-color: black;
}
.carousel-indicators {
    top: 6rem;
    
  
  }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color:#373A3C;
  
  }


.soy-wrapper1 {
            padding-top: 20px;
            font-size: 1em;
        }


.hr {
  width: 2rem;
        }

.experiencia {
    background-color: black;
}
